*{
margin: 0px;padding: 0px;
}
.webname{
width: 300px;font-size: 30px;font-weight: bold;height: 35px;color: #0E0E0E;
}
.btnsign{
height: 38px;color: green;border-radius: 10px;width: 100px;
}
.navber{
display: flex;justify-content: space-between;max-width: 1180px;margin: 15px auto;
}

/* Header done: */

.img-section{margin-bottom: 50px;}
.img-section-1{display: flex;background-color: rgba(93, 154, 156, 0.7);margin: 0px auto;max-width: 1120px;padding-left: 40px;padding-right: 40px;padding-top: 50px;gap: 100px;padding-bottom: 50px;}
.sdsubtitle{font-weight: bold;font-size: 40px;padding-right: 150px;}
#sdsubtitle-2{padding-right: 10px;}
.sdtitle{color: #00000077;}
#btn{height: 35px;background-color: rgba(14, 109, 14, 0.781);color: #fff;margin-top: 10px;padding: 0px 10px;border: none;border-radius: 5px;}

.img-section-2 img{
    height: 300px;
}
/* Img-section-1 done */
body{
    margin: 0px auto;max-width: 1120px;
}
.item-article{
    font-size: large;
    font-weight: 400;
    color: #00000098;
    padding-top: 10px;
}
.pillar-items{
    display: flex; 
    gap: 20px;
}
.pillar-item{
    margin-top: 20px;
    background-color: beige;
    border-radius: 14px;
    height: 150px; 
    padding: 15px; 
}
.pillar-item img{
    height: 50px; 
}
/* pillar-items done */

.news-section{padding-top: 50px;}
.News{padding-top: 20px;color: #00000095;}
.News-title{color: #000;font-weight: 900;font-size: 40px;}
/* recent news done */


.Aljazeera{height: 50px;}
.L-time{font-size: 15px;color: #000000ab;padding-bottom: 10px;}
.satellite-description{color: #000000ab;padding-bottom: 15px;}
.about-satellite button{background-color: green;height: 40px;width: 100px;border-radius: 5px;}
.bdsetellite-section{padding-bottom: 50px;padding-top: 50px;margin-bottom: 50px;margin-top: 50px;background-color: #e9e8e7c2;border-radius: 3px;display: flex;gap: 20px;padding-right: 40px;padding-left: 40px;}
.stellite-image img{border-radius: 16px;}

/* bdsetellite news done*/

.donation-section{padding-left: 50px;padding-right: 50px;margin-bottom: 50px;}
.headtitle{font-size: 35px;font-weight: 900;padding-top: 10px;padding-bottom: 10px;}
.headdescription{color: #000000a9;}
.donationbody{display: flex;justify-content: space-evenly;}
.donatebox{background-color: #e9e4e2b7;height: 50px;width: 150px;margin-bottom: 20px;font-weight: 700;border-radius: 14px;padding: 20px 20px 10px 20px;margin-top: 20px;font-size: 30px;}

/* Donation done  */
 .subscribe-container b{
    font-size: 60px;
 }  
.subscribe-container p{
    font-size: 20px;padding-left: 150px;padding-right: 150px;padding-top: 10px;padding-bottom: 10px;color: rgba(0, 0, 0, 0.681);
 }   
.subscribe-option{
    padding-bottom: 10px;
    padding-top: 10px;
}
.subscribe-container{
    text-align: center;border-radius: 16px;
    background-color: rgba(129, 211, 129, 0.548);padding-top: 80px;
    padding-bottom: 80px;margin-bottom: 50px;
}
.subscribe-option input{
    height: 20px;width: 550px;padding-left: 30px;padding-bottom: 10px;padding-top: 10px;font-size: 15px;border: none;border-top-left-radius: 8px;border-bottom-left-radius: 8px;
}
.subscribe-option button{background-color: rgb(2, 82, 2);font-size: 20px;
    height: 40px;width: 200px;border: none;color: #FFF;border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.subscribe-container small{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.681);
 }
 /* Subscribe Section Done  */
 .logo-container{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.logo-container img{
    height: 40px;
    padding-top: 50px;

}
.footer-section{
    text-align: center;
    padding-bottom: 140px;
    padding-top: 40px;
}
/* footer section done  */